body {
    background: #303030;
    color: #eee;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

label {
    font-size: 1.5em;
    padding-left: 1em;
}

input {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    font-size: 1.25em
}

h1 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a, a:visited {
    position: fixed;
    color: #eee;
}

.container {
    margin: 0 30%;
}

.container h1, .container h2 {
    text-align: center;
}

.container a, input[type="submit"] {
    position: static;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 1.5em;
    height: auto;
    min-height: 3em;
    padding-left: 1em;
    border-top: 2px solid #565656;
}

input[type="submit"] {
    display: block;
    text-align: center;
    margin: 1em 0 0 0;
    font-size: 1.5em;
    color: #eee;
    background-color: #303030;
    width: 100%;
    border: none;
    border-top: 2px solid #565656;
}

.container a:hover, input[type="submit"]:hover {
    background: #565656;
}