<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete page</title>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/"><h1>Go back</h1></a>
    <div class="container">
        <h1>Fill in the form</h1>
        <form action="/delete" method="post">
            <label for="id">ID:</label>
            <input id="id" type="text" name="id">
            <input type="submit" value="Delete a coffee machine">
        </form>
    </div>
</body>
</html>
