<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/"><h1>Go back</h1></a>
    <div class="container">
        <h1>Coffee machines</h1>
        <form action="/list" method="post">
            <label for="country">Country:</label>
            <input id="country" type="text" name="country" minlength="1" maxlength="16">
            <input type="submit" value="Search by country">
        </form>
        <p>Sample object</p>
        <p>Sample object</p>
        <p>Sample object</p>
        <p>Sample object</p>
        <p>Sample object</p>
        <p>Sample object</p>
        <p>Sample object</p>
        <p>Sample object</p>
        <p>Sample object</p>
        <p>Sample object</p>
        <p>Sample object</p>
    </div>
</body>
</html>
