<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/"><h1>Go back</h1></a>
    <div class="container">
        <h1>Coffee machines</h1>
        <form action="/list">
            <label for="country">Country:</label>
            <input id="country" type="text" name="country" minlength="1" maxlength="16">
            <input type="submit" value="Search by country">
        </form>
        <th:block th:each="item : ${coffee_machines}">
            <p th:utext="${item}"></p>
        </th:block>
    </div>
</body>
</html>
